<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>BÀI THƠ  CHỈ CÓ THỂ LÀ MẸ<br></h1>
    <h2 style="font-weight: bold;">Thơ: Đặng Minh Mai <br></h2>
    <p><br>Nắng dần tắt trên con đường nhỏ<br>Dáng mẹ gầy giẹo giọ liêu xiêu<br>Mẹ về để nấu cơm chiều<br>Bữa cơm đạm bạc thương yêu ấm lòng<br>Cả đời mẹ long đong vất vả<br>Cho chồng con quên cả thân mình<br>Một đời mẹ đã hy sinh<br>Tuổi xuân phai nhạt nghĩa tình đượm sâu<br>Mưa và nắng nhuộm màu tóc trắng<br>Bụi gian nan đọng lắng nếp nhăn<br>Rụng rồi thương lắm hàm răng<br>Lưng còng chân yếu ánh trăng cuối trời<br>Tình của mẹ sáng ngời dương thế<br>Lo cho con tấm bé đến già<br>Nghĩa tình son sắt cùng cha<br>Giản đơn dung dị mẹ là mẹ thôi<br>Con đi khắp chân trời góc bể<br>Ân tình nào sánh xuể mẹ yêu<br>Nghĩa dày độ lượng bao nhiêu<br>Có trong lòng mẹ sớm chiều bao dung.</p>
</body>
</html>